{% extends 'sharespace/base.html' %}
{%  load static %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div class="container">
<h1> About </h1>
    <br>

<h2 class="mt-4">About ShareSpace</h2>
    <p><strong>Read about what it is and how it works</strong>.</p>
    <div class="row mb-3">
      <div class="col-md-8 themed-grid-col">{{fill}}</div>
      <div class="col-md-4 themed-grid-col"><img src="https://images.pexels.com/photos/5365752/pexels-photo-5365752.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="100%" height="100%" alt ="neighbourhood"></div>
    </div>

    <h2 class="mt-4">Lend Your Items</h2>
    <p> <strong>Got something nice that you do not use regularly?</strong>.</p>
    <div class="row mb-3">
    <div class="col-md-4 themed-grid-col"><img src="https://images.pexels.com/photos/10222718/pexels-photo-10222718.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="100%" height="100%" alt="items"></div>
      <div class="col-md-8 themed-grid-col">{{fill}}</div>

    </div>

    <h2 class="mt-4">Borrow From Your Neighbour</h2>
    <p> <strong>Need a tool to finish that project?</strong>.</p>
    <div class="row mb-3">
      <div class="col-md-8 themed-grid-col">{{fill}}</div>
      <div class="col-md-4 themed-grid-col"><img src="https://images.pexels.com/photos/5583115/pexels-photo-5583115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="100%" height="100%" alt="tools"></div>
    </div>

    <h2 class="mt-4">Jointly Own</h2>
    <p> <strong>There is strength in numbers!</strong></p>
    <div class="row mb-3">
        <div class="col-md-4 themed-grid-col"><img src="https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="100%" height="100%" alt="together"></div>
        <div class="col-md-8 themed-grid-col">{{fill}}</div>

    </div>
</div>
{% endblock %}