{% extends 'sharespace/base.html' %}
{%  load static %}

{% block title_block %}
    Add your item
{% endblock %}

{% block body_block %}


<h1> Sharing is Caring... </h1>

<h2>Add your item here to share with your neighbours</h2>


<form id="add_item_form" method="post" action="{% url 'sharespace:add_item' %}" enctype = 'multipart/form-data' data-sub-cat-url = "{% url 'sharespace:ajax_load_sub_cat' %}">
    {% csrf_token %}
    <div>
		<label for="id_name">Name:</label> <input type="text" name="name" maxlength="55" required id="id_name">
        <label for="id_description">Description:</label> <input type="text" name="description" maxlength="240" id="id_description">
        <label for="main_category">Main category:</label>
            <select id="main_category" name="main_category" required >
                <option value="">---------</option>
                {% for cat in categories %}
                    <option value="{{ cat.pk }}">{{ cat.name }}</option>
                {% endfor %}
            </select>

        <label for="sec_category">Sec category:</label>
            <select id="sec_category" name="sec_category" > </select>

        <p><label for="id_max_loan_len">Max loan len:</label>
            <select name="max_loan_len" id="id_max_loan_len">
                <option value="1" selected>1 week</option>
                <option value="2">2 weeks</option>
                <option value="3">3 weeks</option>
                <option value="4">4 weeks</option>
            </select></p><br>

        <label for="add_item_postcode">Postcode:</label>
        <input id="add_item_postcode" type="text" name="postcode" value = "{{ hood }}" required readonly >
         <label for="address_list">Look Up Address</label>
        <select id="address_list" name = "address_list"  onclick="lookup_func()" onchange="populate_address()"> </select><br>
        <label for="id_adr_line_1">Adr line 1:</label> <input type="text" name="adr_line_1" required id="id_adr_line_1"><br>
        <label for="id_adr_line_2">Adr line 2:</label> <input type="text" name="adr_line_2"  id="id_adr_line_2"><br>
        <label for="id_adr_line_3">Adr line 3:</label> <input type="text" name="adr_line_3"  id="id_adr_line_3"><br>
        <label for="id_adr_line_4">Adr line 4:</label> <input type="text" name="adr_line_4"  id="id_adr_line_4"><br>
        <label for="id_locality">Locality:</label> <input type="text" name="locality" id="id_locality"><br>
        <label for="id_city">City:</label> <input type="text" name="city"   id="id_city"><br>
        <label for="id_county">County:</label> <input type="text" name="county"  id="id_county"><br>

		<!-- FORMSET FOR IMAGES-->
        {{ formset.management_form }}
    	{% for form in formset %}
    	{{ form.as_p }}
    	{% endfor %}
		<!--<input type="hidden" name="form-TOTAL_FORMS" value="3" id="id_form-TOTAL_FORMS"><input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS"><input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS"><input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">

    	<p><label for="id_form-0-image">Image:</label> <input type="file" name="form-0-image" accept="image/*" id="id_form-0-image"><input type="hidden" name="form-0-id" id="id_form-0-id"></p>

    	<p><label for="id_form-1-image">Image:</label> <input type="file" name="form-1-image" accept="image/*" id="id_form-1-image"><input type="hidden" name="form-1-id" id="id_form-1-id"></p>

    	<p><label for="id_form-2-image">Image:</label> <input type="file" name="form-2-image" accept="image/*" id="id_form-2-image"><input type="hidden" name="form-2-id" id="id_form-2-id"></p>
-->

		<label>Owners</label><br>
        {% if owners %}
            {% for o in owners %}
            <input type="checkbox" id="{{ o.user.username }}" name="{{ o.user.username }}" >
            <label for="{{ o.user.username }}">{{ o.user.username }}</label><br>
            {% endfor %}
        {% else %}
            <p>There are no other possible co-owners</p>
        {% endif %}
        <input type ="submit" name="submit" value="Add Item"/>
	</div>
</form>

	<script src="/static/js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src= "/static/js/sharespace-jquery.js" crossorigin="anonymous"></script>

{% endblock %}

