{% extends 'sharespace/base.html' %}
{%  load static %}

{% block title_block %}
    Borrow Item
{% endblock %}

{% block body_block %}

    {% if cal_list %}
        {% for month in cal_list %}
             <div class="container" id="cont-for-cal">{{ month | safe }}</div>
        {% endfor %}
    {% endif %}


    <p>Max length of loan for this item: {{ item.max_loan_len }} weeks </p>

    {% if msg %}
        <p>!!! {{ msg }} !!!</p>
    {% endif %}
    <p id="msg-p"></p>
    <form id="borrow-item-form" method="post" data-req-url="{% url 'sharespace:ajax_request_loan' %}"  enctype = 'multipart/form-data'>
        {% csrf_token %}
        <div class="form-group">
            <label for="item-to-borrow">Item</label>
            <input type="text" class="form-control" id="item-to-borrow" data-item= "{{ item.item_slug }}" name="item-to-borrow" value="{{ item.name }}" readonly>
            <small id="item-to-borrow" class="form-text text-muted">You are borrowing this item:</small>
        </div>
        <div class="form-group">
            <label for="date-borrow-from">From</label>
            <input type="date" class="form-control" id="date-borrow-from" name="date-borrow-from" placeholder="Start date of booking" required>
        </div>
        <div class="form-group">
            <label for="date-borrow-until">Until</label>
            <input type="date" class="form-control" id="date-borrow-until" name="date-borrow-until" placeholder="End date of booking" required>
        </div>
        <buttton id="submit-loan-btn" name = "submit-loan-btn" type ="submit" value="Borrow Item">Submit</buttton>
    </form>
{% endblock %}