{% extends 'sharespace/base.html' %}
{%  load static %}

{% block title_block %}
    Category List
{% endblock %}

{% block body_block %}
    <main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Main Category List</h1>
        <p class="lead text-muted">The main categories below are meant to catalog all the items that our users share. Have a browse below or if you want to look in more details checkout our secondary categories under each main category</p>
        <p>

          <a href="#" class="btn btn-secondary my-2">Suggest a new Category</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
           {% if all_cat %}


        {% for cat in all_cat.all %}

            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ cat.cat_img }}" aria-label="Placeholder: Thumbnail" alt="cat_image">
                        <p class="card-text">{{ cat.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'sharespace:category_page' cat.cat_slug %}">View</a></button>

                            </div>
                        </div>
                </div>
            </div>


        {% endfor %}
    {% endif %}

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>

{% endblock %}