{% extends 'sharespace/base.html' %}
{%  load static %}


{% block title_block %}
    {% if item %}
        {{item.name}}
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if item %}
    <br>
    <br>
    <br>
    <br>

        <h1> {{ item.name }} </h1>
        <h2> Item's details: </h2>
        <p><ul>
            <li> item price : {{ item.price }}</li>
            <li> description: {{ item.description }}</li>
            <li> available : {{ item.available }}</li>
            <li> slug : {{ item.item_slug }}</li>
            <li> gallery: 
                <section class="photo_gallery">
                    {% for gallery_image in gallery.all %}
                        <img src = "{{gallery_image.image.url }}" style="height:300px; width:300px" alt="" title="" />
                    {% endfor %}
                </section>
            </li>

        </ul>

        {% if user.is_authenticated %}

            {{ up.can_borrow }}
            {% if up.can_borrow %}

                    {% if item.available %}
                        <a href="{% url 'sharespace:borrow_item' item.item_slug  %}">Borrow this item</a>
                    {% else %}
                        this item is currently not available
                    {% endif %}

            {% else %}
                you are already borrowing your max number of items
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}