{% extends 'sharespace/base.html' %}
{%  load static %}


{% block title_block %}
    {% if item %}
        {{item.name}}
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if item %}


        <h1> {{ item.name }} </h1>
        <h2> Item's details: </h2>
        <p>Item owner(s)<ul>
            {% for o in item.owner.all  %}
                {{ o }}
            {% endfor %}
            <li> item price : {{ item.price }}</li>
            <li> description: {{ item.description }}</li>
            <li> available : {{ item.available }}</li>
            <li> hood : {{ item.location.adr_hood }}</li>
            <li> gallery: 
                <section class="photo_gallery">
                    {% for gallery_image in gallery.all %}
                        <img src = "{{gallery_image.image.url }}" style="height:300px; width:300px" alt="" title="" />
                    {% endfor %}
                </section>
            </li>

        </ul>

        {% if user.is_authenticated %}
            {% if owner_flag %}
                this if your own item - you can manage this item here
            {% else %}
                {% if notif_flag or max_item_flag %}
                    {% if notif_flag %}
                        <p> you have unactioned notifications that require your attention -
                            please complete those</p>
                    {% endif %}
                    {% if max_item_flag %}
                        <p>you are already borrowing your max number of items</p>
                    {% endif %}
                {% else %}
                    {% if not up.can_borrow %}
                        you cannot borrow this item - please contact the admin for further information
                    {% else %}
                        {% if item.available %}
                            <a href="{% url 'sharespace:borrow_item' item.item_slug %}" class="btn-outline-primary">Borrow this item</a>
                            <br>
                            something wrong with this item?
                            Report it <a href="{% url 'sharespace:submit_report' item.item_slug %}" class="btn-outline-danger">Report this item</a>
                        {% else %}
                            this item is currently not available
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}