{% extends 'sharespace/base.html' %}
{%  load static %}

{% block title_block %}
    Your Loan
{% endblock %}

{% block body_block %}
<br>
<br>
<br>
<br>
<br>
<h1> Your Loan </h1>
    {% if loan %}
        <p>Loaned item: {{ loan.item_on_loan }}</p>
        <p>Checkout date: {{ loan.out_date }}</p>
        <p>Due Date: {{ loan.due_date }}</p>
        <p>Overdue status: {{ loan.overdue }}</p>
        <p>Status: {{ loan.status }}</p>
        <p> Where to pick up your item: </p>
        <p> {{loan.item_on_loan.location}}</p>
    {% endif %}

    {% if return_flag %}
        <button id = "returned-item-btn" data-loanslug = "{{ loan.loan_slug }}" class = "btn btn-primary btn-sm" type="button" >Item Returned</button>
    {% endif %}
    {%  if del_flag %}
        <button id = "cancel-booking-btn" data-loanslug="{{ loan.loan_slug }}" data-ajax-url="{% url 'sharespace:ajax_cancel_booking' %}" class = "btn btn-primary btn-sm" type="button" onclick="cancel_booking()">Cancel Booking</button>
    {% endif %}
    {% if up_flag %}
        <p>Above you can see the address of the location where you can pick up this item</p>
        <p>To arrange a convenient delivery you can contact the owner of this item on: {{ loan.item_on_loan.guardian.contact_details }}</p>
        <button id = "confirm-pickup-btn" data-loanslug="{{ loan.loan_slug }}" data-ajax-url="" class = "btn btn-primary btn-sm" type="button" onclick="">Confirm Pick-up</button><br><br>

        Something wrong with this loan? You went to pick up the object and it wasn't there? Report it to admin
        <a id = "report-loan" class="btn btn-danger btn-sm" href="{% url 'sharespace:submit_report' loan.loan_slug %}">Report</a>
    {% else %}
    {% endif %}
           <p id="display-result"></p>

{% endblock %}