{% extends 'sharespace/base.html' %}
{%  load static %}

{% block title_block %}
    Your Notification
{% endblock %}

{% block body_block %}
<br>
<br>
<br>
<h1>You have a notification!</h1>
<ul>
    <li>{{ title }}</li>
    <li>{{ body }}</li>
    <li>From: {{ from_user }}</li>
    
    <li>read: {{ read }}</li>
    <li>actioned: {{ complete }}</li>
</ul>
    {% if complete %}
    <p>{{ msg }}</p>
    {% else %}
        {{ msg }}
    <form id="loan_complete_notification_form" method="post" action="{% url 'sharespace:notification_page' notification_slug %}" enctype = 'multipart/form-data'>
        {% csrf_token %}
        Choose an action:
        <select id="action-desired-selection" name="action-desired-selection" required>
            <option value="returned-ok">Item has been returned correctly</option>
            <option value="returned-issue">Item was returned, but there is an issue</option>
            <option value="returned-not">The item was not returned</option>
        </select>
        <input type="submit" name="Complete Action" value="Send"/>
    </form>
    {% endif %}
{% endblock %}