{% extends 'sharespace/base.html' %}
{%  load static %}

{% block title_block %}
    Purchase Proposal
{% endblock %}

{% block body_block %}
    {{ proposal }}
    <div class="row mb-3">
      <div class="col-md-4 themed-grid-col">
          <p>proposal information:</p>
          <ul>
              <li>Item name: {{ proposal.proposal_item_name }}</li>
              <li>Item main category: {{ proposal.proposal_cat }}</li>
              <li>Item secondary category: {{ proposal.proposal_sub_cat }}</li>
          </ul>
      </div>
      <div class="col-md-4 themed-grid-col">
          <p>Currently this many of your neighbours want to own this item:</p>
          <p id="subs-count"><strong>{{ proposal.proposal_subs_count }}</strong></p>
          <br>
          <p> this proposal was submitted by: {{ proposal.proposal_submitter }}</p>
          {% if subs_flag %}
              <p> you can contact {{ proposal.proposal_submitter }} on {{ proposal.proposal_contact }}</p>
          {% else %}
          {% endif %}
      </div>
      <div class="col-md-4 themed-grid-col" >
          <p>Available actions</p>
          {% if subm_flag %}

              <button id="delete-prop-btn" class="btn-danger" btn-data="{% url 'sharespace:ajax_del_prop' %}" onclick="delete_purchase_proposal('{{ proposal.proposal_slug }}')"  value="Delete proposal">Delete Proposal</button>
              <br>
              <a id="purchased-prop-btn"  class="btn-primary" href="{% url 'sharespace:pp-purchased' proposal.proposal_slug %}">Purchased</a>
          {% else %}
              {% if subs_flag %}
                   <button id="subscribe-btn" onclick="subscribe_to_proposal()"  data-url-action="{% url 'sharespace:ajax_unsub_from_prop' %}" value="Unsubscribe" data-prop-slug = "{{ proposal.proposal_slug }}">Unsubscribe</button>
              {% else %}
                  <button id="subscribe-btn" onclick="subscribe_to_proposal()"  data-url-action="{% url 'sharespace:ajax_sub_to_prop' %}" value="Subscribe" data-prop-slug = "{{ proposal.proposal_slug }}">Subscribe</button>
              {% endif %}
          {% endif %}
         <br>
        <br><br>
        {% if subs_flag or subm_flag %}
            <div>
                <textarea  id="proposal-comment" >

                </textarea>
            </div>
            <button id="post-comment-btn" onclick="comment_proposal('{{ proposal.proposal_slug }}')" btn-data='{% url 'sharespace:ajax_post_comment' %}'>Submit Comment </button>
        {% endif %}
    <br>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 themed-grid-col">
          <p> The price of this item is set at : {{ proposal.proposal_price }}</p>
          {% if price_per_person %}
            <p> with the current number of people subscribing this is the current price per person in £: </p>
            <p id="price-per-person"><strong>{{ price_per_person }}</strong></p>
          {% endif %}
      </div>
      <div class="col-md-4 themed-grid-col">

      </div>
      <div class="col-md-4 themed-grid-col"></div>
    </div>

    <div class="b-example-divider"></div>



    <div id ="comment-list" class="list-group" style="overflow-y: scroll; height:200px; border-width: thick">

        {% if comments %}
            {% for comment in comments %}
             <!--   <img src='{{ comment.comment_author.picture }}' alt="author_picture" width="32" height="32" class="rounded-circle flex-shrink-0"> -->
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">{{ comment.comment_author }} commented </h6>
                        <p class="mb-0 opacity-75">{{ comment.comment_text }}</p>
                    </div>
                    <small class="opacity-50 text-nowrap">on {{ comment.comment_date }}</small>
                </div>
                <br>
            {% endfor %}
        {% endif %}
    </div>


    <br>
    <br>
{% endblock %}