{% extends 'sharespace/base.html' %}
{%  load static %}

{% block title_block %}
    Purchase Proposal
{% endblock %}

{% block body_block %}



    <div class="d-flex justify-content-around">
        <h1> Purchase Proposals in your Hood </h1>

    </div>
    <div class="d-flex justify-content-around">
        <h3> Get Rich... or Try Sharing! </h3>
    </div>

    <hr>


        {% if list %}
            {% for prop in list %}
                <p class="d-flex justify-content-center"><a href="{% url 'sharespace:proposal_page' prop.proposal_slug %}" class="pp-list-elem">{{ prop }}</a></p>
            {% endfor %}

        {% else %}
            <p>There are no purchase proposal in your neighbourhood yet</p>

        {% endif %}


    <div class="d-flex justify-content-around" style="padding-top: 100px">
     <p>Do not see what you you are looking for? You can add a new purchase proposal <a href="{% url 'sharespace:submit_proposal' %}">here</a></p>
    </div>

{% endblock %}