{% extends 'sharespace/base.html' %}
{%  load static %}

{% block title_block %}
    Sing-up
{% endblock %}

{% block body_block %}
<h1> register </h1>
{% if registered %}
    registered
{% else %}
<form id="user_form" method="post" action="{% url 'sharespace:register_profile' %}" enctype = 'multipart/form-data'>
    {% csrf_token %}

    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <div>
	<label>Postcode</label>
	<input id="postcode" type="text">
	<button id="postcode_lookup" onclick="lookup_func()">Search</button>
</div>
<div>
	<label for="address_list">Choose an address:</label>
	<select name="addresses" id="address_list">

	</select>
</div>

<div>
	<label>Address Line 1</label>
	<input id="adr_line_1" type="text">
	<label>Address Line 2</label>
	<input id="adr_line_2" type="text">
	<label>Address Line 3</label>
	<input id="adr_line_3" type="text">
	<label>Address Line 4</label>
	<input id="adr_line_4" type="text">
	<label>Locality</label>
	<input id="locality" type="text">
	<label>Town or City</label>
	<input id="city" type="text">
	<label>County</label>
	<input id="county" type="text">
</div>


    <input type ="submit" name="submit" value="Register"/>
</form>
{% endif %}
{% endblock %}
