{% extends 'sharespace/base.html' %}
{%  load static %}

{% block title_block %}
    Hi {{username}}
{% endblock %}

{% block body_block %}
<br>
<br>
<br>
<br>
<h1> Hi {{ username }} </h1>
<h2>Welcome to your profile</h2>
<br>
<a href = "{% url 'sharespace:change_password'  %}" >Change Password</a>
<br>
Your info:
<ul>
    <li> <img src = "{{MEDIA_URL}}{{ picture }}" style="height:300px; width:300px" alt="user profile picture" class="rounded-circle" ></li>
    <li>name : {{ full_name }}</li>
    <li> bio : {{ bio }}</li>
</ul>
<br>
<br>
Your Items:

<ul>
  Your Owned Items
        {% if owned_items%}
            {% for item in owned_items.all%}
                <li> {{ item.name }}</li>
            {% endfor %}
        {% else %}

            you do not own any items
        {% endif %}
</ul>
<br>
<ul>
  You are borrowing:
        {% if borrowing_items %}
            {{ borrowing_items.item_on_loan.name }}
        {% else %}
            no items on loan atm
        {% endif %}
</ul>

<p>adding a paragraph just to test some JS</p>

{% endblock %}